::selection {
  color: black;
}

.avatar-wrapper {
  width: 110px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.avatar-main img {
  width: 110px;
  border-radius: 50%;
  position: relative;
}

.avatar-wrapper::before {
  position: absolute;
  content: "";
  background-color: #00d487;
  border-radius: 50%;
  left: 8px;
  right: 8px;
  top: 19px;
  bottom: 4px;
}

.main.dark {
  background: #2f2b2b;
}

.main.dark .avatar-wrapper::before {
  background-color: #0377a3;
}

.main.dark .article {
  color: rgb(220 205 205 / 87%);
}

.lang p a,
.lang p span {
  line-height: 25px;
  margin-right: 10px;
}

.main.dark .article a {
  color: #c6cc0e;
}

.main.dark .divider.fat {
  border-top: 0.3571428571428571em solid rgb(220 205 205 / 87%);
  width: 33%;
}

.main.dark li.highlighted {
  background: rgb(0 0 0 / 26%);
}

.page {
  border-color: #03a36c;
}

.page::before {
  content: " ";
  display: block;
  position: absolute;
  left: 2em;
  top: 2em;
  right: 2em;
  bottom: 2em;
  border-color: #03a36c;
  border-width: 1em;
  border-style: solid;
  pointer-events: none;
  transition: border-color 0.2s ease-in-out;
}

.main.dark .page {
  background: #464343;
  box-shadow: 0 10px 100px 0 rgb(255 149 149 / 10%);
}

.main.dark .page::before {
  border-color: #0377a3;
}

.highlighted {
  cursor: inherit;
}

main:nth-last-child(3) {
  margin-bottom: 0;
}

.tags.small {
  text-transform: uppercase;
}

.sunglesses {
  transform: rotate(90deg) translate3d(50%, 150%, 0);
  transition: all 0.4s ease-in-out;
  position: absolute;
  width: 60px;
  top: 18%;
  left: 24%;
}

.avatar-wrapper:hover .sunglesses {
  transform: rotate(0deg) translate3d(0%, 0%, 0);
  transform-origin: bottom right;
}

.main {
  position: relative;
}

.dark-mode {
  transition: all 0.3s;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
}

.dark-mode.on {
  opacity: 100%;
  z-index: 10;
}

.btn {
  z-index: 12;
  position: relative;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.btn.light {
  position: fixed;
  bottom: 200px;
  text-transform: uppercase;
  padding: 5px 10px;
  color: black;
  background: white;
  text-decoration: none;
}

.flag {
  height: 10px;
}

@media only screen and (min-width: 1200px) {
  main article {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .page,
  .page::before {
    padding: 0;
  }

  .page::before {
    display: none;
  }
}
